*,
*::before
*::after {
    box-sizing: border-box;
}


:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



body {

background-color: grey;

}


.title {
  display: flex;
  justify-content: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  font-family: var(--ff-primary);
  color: var(--clr-dark);
}

.card-body {
  display: flex;
  justify-content: center;
  font-size: var(--fs-h3);

}

 .Subtitle  {
  display: flex;
  justify-content: center;
  font-family: var(--ff-primary);
  color: var(--clr-accent);
 }


.form-input {
  margin-left: 1em;
}

.fieldset{
box-sizing: content-box;
justify-content: center;
  padding: 1em 2em;
  border: solid 3px black;
  min-width: 250px;
  background-color: var(--clr-accent);
  display: inline-block;
  align-self: center;

}

.form-label {
font-family: var(--ff-primary);

}

.input {
display: flex;
justify-content: center;


}

/*Search page CSS*/ 

.search_title {
display: flex;
justify-content: center;
font-family: var(--ff-primary);
}

.back {
display: flex;
justify-content:end;
flex-direction: row;
}


.btn1 {
display: flex;
justify-content: right;

}

.weather_pop {
box-sizing: content-box;
display: flexbox;
border: var(--clr-accent);
}

.weather_pop {
display: flex;
justify-content:flex-end;
border: solid 3px black;
display: inline-block;
}