*,
*::before
*::after {
    box-sizing: border-box;
}


:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 200;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


h2 { font-size: 3rem; }



body {
background-color: grey;
}


.home-title {
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  font-family: var(--ff-primary);
  color: var(--clr-light);
}


 .home-subtitle  {
  text-align: center;
  font-weight: var(--fw-reg);
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  color: var(--clr-light);
 }


 
.card-body {
  display: flex;
  justify-content: center;
  font-size: var(--fs-h3);

}

.form-input {
  margin-left: 1em;
}

.fieldset{
box-sizing: content-box;
justify-content: center;
  padding: 1em 2em;
  border: solid 3px black;
  min-width: 250px;
  background-color: var(--clr-accent);
  display: inline-block;
  align-self: center;
}

.form-label {
font-family: var(--ff-primary);
margin-right: 1em;
}

.input {
display: flex;
justify-content: center;
}

.errorMessageShow {
  display:block;
  text-align: center;
  color: red;
}

.errorMessageHide {
  display:none;
}

/* CSS for sample country cards (Japan, Spain, Mexico, India)*/
.countriesContainer {
  margin: 5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.countriesCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.countriesImg {
  width:250px;
  height:250px;
  border-radius: 15px;
}

.countriesCards span {
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    bottom: 10%;
    left: 0%;
    font-size: 24px;
    color: var(--clr-light);
    font-family: var(--ff-primary);
    background-color: #13293d88;

    
}

/* CSS for footer */
footer {
  text-align: center;
  color: var(--clr-light);
  margin-top: 10em;
  font-family: var(--ff-primary);
}

footer img {
  height: 40px;
  vertical-align: middle;
}



/*Search page CSS*/ 

.search_title {
display: flex;
justify-content: center;
font-family: var(--ff-primary);
}

.back {
display: flex;
justify-content:end;
flex-direction: row;
}

.backBtn {
margin-top:2em;
float: right;
}

.weather {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: center;
  padding: 60px;
  background: #13293d;
  color: #fff;
  }

.weather_card {
box-sizing: content-box;
display: flexbox;
border: var(--clr-accent);
justify-content: center;
}

.movies {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  flex-wrap: wrap;
  align-content: space-around;
  
}

.movieCards {
background:#16e0bd;
display: flexbox;
border: var(--clr-accent)
padding: 1em 2em;
flex: 0 1 200px;
}